@utility animate-draw {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: draw;
  animation-duration: var(--tw-animation-duration, 1s);
  animation-delay: var(--tw-animation-delay, 0ms);
  animation-iteration-count: var(--tw-animation-iteration, 1);
  animation-fill-mode: forwards;
}
@utility animate-from-left { 
  animation: from-left;
  animation-duration: var(--tw-animation-duration, 1s);
  animation-delay: var(--tw-animation-delay, 0ms);
  animation-iteration-count: var(--tw-animation-iteration, 1);
  animation-fill-mode: both; 
}
@utility animate-from-right { 
  animation: from-right;
  animation-duration: var(--tw-animation-duration, 1s);
  animation-delay: var(--tw-animation-delay, 0ms);
  animation-iteration-count: var(--tw-animation-iteration, 1);
  animation-fill-mode: both; 
}
@utility animate-from-top { 
  animation: from-top;
  animation-duration: var(--tw-animation-duration, 1s);
  animation-delay: var(--tw-animation-delay, 0ms);
  animation-iteration-count: var(--tw-animation-iteration, 1);
  animation-fill-mode: both; 
}
@utility animate-from-bottom { 
  animation: from-bottom;
  animation-duration: var(--tw-animation-duration, 1s);
  animation-delay: var(--tw-animation-delay, 0ms);
  animation-iteration-count: var(--tw-animation-iteration, 1);
  animation-fill-mode: both; 
}
@utility animate-scale { 
  animation: from-scale;
  animation-duration: var(--tw-animation-duration, 1s);
  animation-delay: var(--tw-animation-delay, 0ms);
  animation-iteration-count: var(--tw-animation-iteration, 1);
  animation-fill-mode: both; 
}
@utility animate-appear { 
  animation: appear;
  animation-duration: var(--tw-animation-duration, 1s);
  animation-delay: var(--tw-animation-delay, 0ms);
  animation-iteration-count: var(--tw-animation-iteration, 1);
  animation-fill-mode: both; 
}
@utility animate-fadeout { 
  animation: fadeout;
  animation-duration: var(--tw-animation-duration, 1s);
  animation-delay: var(--tw-animation-delay, 0ms);
  animation-iteration-count: var(--tw-animation-iteration, 1);
  animation-fill-mode: both;
}
@utility animate-fadein { 
  animation: fadein;
  animation-duration: var(--tw-animation-duration, 1s);
  animation-delay: var(--tw-animation-delay, 0ms);
  animation-iteration-count: var(--tw-animation-iteration, 1);
  animation-fill-mode: both;
}
@utility animate-arise {
  animation: arise;
  animation-duration: var(--tw-animation-duration, 1s);
  animation-delay: var(--tw-animation-delay, 0ms);
  animation-iteration-count: var(--tw-animation-iteration, 1);
  animation-fill-mode: backwards;
  max-height: none;
  overflow: hidden;
  display: flex;
}
@utility animate-slide {
  animation: slide;
  animation-duration: var(--tw-animation-duration, 1s);
  animation-delay: var(--tw-animation-delay, 0ms);
  animation-iteration-count: var(--tw-animation-iteration, 1);
  animation-fill-mode: backwards;
  max-width: none;
  overflow: hidden;
  display: flex;
}
@utility animate-infinislider { animation: infinislider var(--tw-animation-duration) infinite; }
@utility state-keep-last { animation-fill-mode: forwards; }
@utility state-keep-first { animation-fill-mode: backwards; }
@utility state-keep-both { animation-fill-mode: both; }
@utility play-normally { animation-direction: normal; }
@utility play-inverse { animation-direction: reverse; }
@utility play-tonfro { animation-direction: alternate; }
@utility play-tonfro-inverse { animation-direction: alternate-reverse; }
@utility animate-ease-in { animation-timing-function: var(--ease-in); }
@utility animate-ease-out { animation-timing-function: var(--ease-out); }
@utility animate-ease-in-out { animation-timing-function: var(--ease-in-out); }
@utility animate-ease-linear { animation-timing-function: linear; }
@utility animate-ease-initial { animation-timing-function: initial; }
@utility animation-paused { animation-play-state: paused; }
@utility animation-start { animation-play-state: running; }
/* Experimental */
@utility scroll-appear { --scroll-animation-name: appear; }
@utility scroll-from-bottom { --scroll-animation-name: from-bottom; }
@utility scroll-from-top { --scroll-animation-name: from-top; }
@utility scroll-from-right { --scroll-animation-name: from-right; }
@utility scroll-from-left { --scroll-animation-name: from-left; }