@layer utilities {
  .top_nav {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column: span 3 / span 3;
    grid-row: span 1 / span 1;
  }
  .left_nav {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
  }
  .right_nav {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
  }
  .bottom_nav {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column: span 3 / span 3;
    grid-row: span 1 / span 1;
  }
  .nav_main {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  .prio_sidebar {
    position: fixed;
    top: 0px;
    height: 100%;
  }
  .navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
  }
  .article_header {
    order: -1;
  }
  .article_content {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
  }
  .article_footer {
    order: 1;
  }
  .box {
    align-items: center;
    align-items: center;
  }
  .layers {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }
  .layer {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
  }
  .break-inside {
    break-inside: avoid;
  }
}